*.pyc
__pycache__

.env

env/
venv/
e/

data/cache/*
!data/cache/.gitkeep
data/logs/*
!data/logs/.gitkeep
data/media/*
!data/media/.gitkeep
data/run/*
!data/run/.gitkeep
data/static/*
!data/static/.gitkeep
